@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding: 10vh 0;
    padding-left: 50px;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgba(37, 36, 36, 0.993);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.183);
    width: 400px;
    padding: 20px;
    margin: -20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12.5px 0;
}