@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* font-family: 'Passion One', cursive; */

/* font-family: 'Sriracha', cursive; */

:root {
    --cor0: black;
    --cor1: white;

    --fonte-titulo: 'Passion One', cursive;
    --fonte-corpo: 'Sriracha', cursive;
    --fonte-padrão: 'Arial', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-corpo);
}

header {
    background-color: var(--cor0);
    padding: 75px;
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 16vh;
    font-weight: bold;
    color: var(--cor1);
    text-align: center;
    padding-bottom: 15px;
}

header h2 {
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 1em;
    color: var(--cor1);
}

header a {
    text-decoration: none;
    color: var(--cor1);
    
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cor0);
    padding: 5px;
    
}

footer > p {
    color: var(--cor1);
    text-align: center;
    font-size: 1.1em;
    font-family: var(--fonte-padrão);
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
}

footer a:hover {
    text-decoration: underline;
}

main article {
    font-size: 4vh;
}

article p:first-child {
    padding-top: 100px;
}

article p:last-child {
    padding-bottom: 100px;
}

article > p {
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.503);
    display: inline-block;
}

article div#d1 {
    background-image: url('../imagens/background001.jpg');
}

article div#d2 {
    background-image: url('../imagens/background002.jpg');    
}

article div.parallax {
    min-height: 400px;

}

div.b-bg p {
    color: white;
}